.event-menu,
.schedule {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: 62.5%;
  color: #333333;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-weight: 300;
}
body {
  margin: 0;
  font-size: 1.6rem;
  font-size: 16px;
}
a {
  color: #0000ff;
  text-decoration: none;
}
a:hover {
  color: #0000cc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.5;
}
dd {
  margin: 0;
}
sup {
  line-height: 1;
}
address {
  font-style: normal;
}
.page-width {
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 768px) {
  .page-width {
    width: 744px;
  }
}
@media (min-width: 992px) {
  .page-width {
    width: 968px;
  }
}
@media (min-width: 1200px) {
  .page-width {
    width: 1176px;
  }
}
.page-header {
  text-align: center;
  padding: 3.3rem 0;
}
.page-header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.4rem;
}
@media (min-width: 768px) {
  .page-header h1 {
    font-size: 3rem;
  }
}
.page-header p {
  margin-top: 0;
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  .page-header p {
    font-size: 2.1rem;
  }
}
.page-header .event-meta {
  margin: 0;
}
.page-header .event-meta dt,
.page-header .event-meta dd {
  display: inline-block;
}
.page-header .event-meta dd:last-child:before {
  content: " @ ";
}
.event-menu {
  border-bottom: 0.1rem solid #dddddd;
  border-top: 0.1rem solid #dddddd;
  padding: 2.4rem 0;
  text-align: center;
}
.event-menu li {
  display: inline-block;
}
.event-menu li a {
  padding: .6rem 1.2rem;
}
.schedule .time {
  display: block;
  margin-top: .6rem;
}
.page-footer {
  text-align: center;
  border-top: 0.1rem solid #dddddd;
  padding: 2.4rem 0;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
