// standard width of page
.page-width {
  margin-left: auto;
  margin-right: auto;

  padding-left: @gutter-width;
  padding-right: @gutter-width;

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}

//header
.page-header {
  text-align: center;
  //padding: 3.3rem 0;
  padding-bottom: 3.3rem;

  &:extend(.clearfix all);

  .logo {
    max-width: 100%;

    @media (min-width: @screen-sm-min) {
      //specify height in larger view to prevent redraw
      width: 400px;
      height: 214px;
      background-color: #000;
    }
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 33px;
    font-size: 3.3rem;

    @media (min-width: @screen-sm-min) {
      font-size: 3rem;
    }
  }

  p {
    margin-top: 0;

    font-size: 1.8rem;

    @media (min-width: @screen-sm-min) {
      font-size: 2.1rem;
    }
  }

  .event-meta {
    margin: 0;

    dt,
    dd {
      display: inline-block;
    }


  }
}

.event-menu {
  &:extend(.list-unstyled);

  border-bottom: .1rem solid @border-gray;
  border-top: .1rem solid @border-gray;

  padding: 2.4rem 0;

  text-align: center;

  li {
    display: inline-block;

    a {
      padding: .6rem 1.2rem;
    }
  }
}

//keynote details
.keynote-details {
  img {
    width: 263px;
    height: 311px;
    background-color: #222;
    border: .1rem solid #333;
  }

  .name {
    font-size: 2.1rem;
    font-weight: bold;
  }

  .address {
    margin-top: 1.2rem;
  }
}

//schedule
.schedule-header {
  margin-bottom: 0;

  & + h3 {
    margin-top: 0;
  }
}
.schedule {
  &:extend(.list-unstyled);

  .time {
    display: block;
    margin-top: .6rem;
  }
}

//footer

.page-footer {
  text-align: center;

  border-top: .1rem solid @border-gray;

  padding: 2.4rem 0;
}